@model BookModel

@if (Model != null)
    {
        <div class="thumbnail">
            <img src="@Model.ThumbnailUrl" alt="@Model.Title" />
            <div class="caption-full">
                <h3 class="pull-right">@Model.Price.ToString("c")</h3>
                <h3>
                    @Model.Title
                </h3>
                <p>@Model.Description</p>
                <div class="detail-buttons">
                    @using (Html.BeginForm("DeleteBook", "Book", new { id = Model.BookId }, FormMethod.Post))
                    {
                        <form action="" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }

                    <a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.BookId">Edit</a>

                </div>
            </div>
        </div>
    }
